 <section class="inner-banner">

        <img src="assets/img/banners/policies.jpg" alt="banner-img" class="img-fluid" loading="lazy"
            decoding="async">

        <!-- <div class="container">
            <div class="main-title-section"><h1>Policies</h1>
        </div>
        <div class="breadcrumb">
            <a href="">Home</a>
            <span>&nbsp;/&nbsp; </span>

           <span class="current">Policies</span></div>
        	</div> -->

    </section>

    <section id="policies_main">
        <div class="container">
            <div class="policies_head">
                <h2><span>Our Policies</span></h2>
                <p>Things to know</p>
            </div>
            <div class="plc_sm_head">
                <h4>House rules</h4>
                <p>You'll be staying in someone's home, so please treat it with care and respect.</p>
            </div>
            <div class="row frst_row">
                <!-- <div class="col-md-6">
                    <div class="plcs_card_sec">
                        <h5>Checking in and out</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec frst_line">
                                    <img src="assets/images/icons/time.jpg" alt="icons">
                                    <p>Check-in after 4:00pm</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec scnd_line">
                                    <img src="assets/images/icons/time.jpg" alt="icons">
                                    <p>Checkout before 11:00 am</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec third_line">
                                    <img src="assets/images/icons/Private_entrance.jpg" alt="icons">
                                    <p>Self check-in with lockbox</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="plcs_card_sec">
                        <h5>During your stay</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec frst_line">
                                    <img src="assets/images/icons/guest.jpg" alt="icons">
                                    <p>6 guests maximum</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec scnd_line">
                                    <img src="assets/images/icons/Pets.jpg" alt="icons">
                                    <p>Pets allowed</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec third_line">
                                    <img src="assets/images/icons/no_smoking.jpg" alt="icons">
                                    <p>No smoking</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec frth_line">
                                    <img src="assets/images/icons/Essentials.jpg" alt="icons">
                                    <p>Additional rules</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="plcs_card_sec">
                        <h5>Before you leave</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec frst_line">
                                    <img src="assets/images/icons/towel.jpg" alt="icons">
                                    <p>Gather used towels</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec scnd_line">
                                    <img src="assets/images/icons/Waste_compactor.jpg" alt="icons">
                                    <p>Throw rubbish away</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec third_line">
                                    <img src="assets/images/icons/switch.jpg" alt="icons">
                                    <p>Turn things off</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="plcs_spt_sec frth_line">
                                    <img src="assets/images/icons/lock.jpg" alt="icons">
                                    <p>Lock up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-4">
                    <div class="plcs_card_sec">
                        <h5>Checking in and out</h5>
                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/time.jpg" alt="icons">
                            <p>Check-in after 4:00pm</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/time.jpg" alt="icons">
                            <p>Checkout before 11:00 am</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/Private_entrance.jpg" alt="icons">
                            <p>Self check-in with lockbox</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="plcs_card_sec">
                        <h5>During your stay</h5>
                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/guest.jpg" alt="icons">
                            <p>6 guests maximum</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/Pets.jpg" alt="icons">
                            <p>Pets allowed</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/no_smoking.jpg" alt="icons">
                            <p>No smoking</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/Essentials.jpg" alt="icons">
                            <p>Additional rules</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="plcs_card_sec">
                        <h5>Before you leave</h5>
                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/towel.jpg" alt="icons">
                            <p>Gather used towels</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/Waste_compactor.jpg" alt="icons">
                            <p>Throw rubbish away</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/switch.jpg" alt="icons">
                            <p>Turn things off</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/lock.jpg" alt="icons">
                            <p>Lock up</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="plc_sm_head scnd_head">
                        <h4>Safety & property</h4>
                        <p>Avoid surprises by looking over these important details about your Host's property.</p>
                    </div>

                    <div class="plcs_card_sec">
                        <h5>Safety devices</h5>
                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/security-cameras.jpg" alt="icons">
                            <p>Exterior security cameras on property</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/carbon_monoxide_alarm.jpg" alt="icons">
                            <p>Carbon monoxide alarm not reported</p>
                        </div>

                        <div class="plcs_spt_sec">
                            <img src="assets/images/icons/Smoke_alarm.jpg" alt="icons">
                            <p>Smoke alarm installed</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="plc_sm_head scnd_head">
                        <h4>Cancellation policy</h4>
                        <p>Make sure you’re comfortable with this Host’s policy. In rare cases,
                            you may be eligible for a refund outside of this policy under Airbnb’s
                            Major Disruptive Events Policy.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="plcs_card_sec">
                                <h5>After</h5>
                                <div class="scnd_head2">
                                    <p>4 Apr | 7:09 am</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="plcs_card_sec">
                                <h5>No refund</h5>
                                <div class="scnd_head2">
                                    <p>This reservation is non-refundable.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <p class="para_plcs">Cleaning fees are refunded if you cancel before check-in.</p>

                </div>
            </div>

        </div>
    </section>


