
    <section>
        <div class="banner_sec" data-aos="fade-up" data-aos-duration="1000">
            <img src="assets/img/banners/barn.jpg" class="img-fluid" alt="banner" loading="lazy" decoding="async">
        </div>
    </section>

    <!-- <section class="barn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="barn-text">
                        <h2>The Barn</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere distinctio illo laborum
                            assumenda? Fuga facilis iste quis aperiam nesciunt officia quidem autem suscipit. Ullam
                            temporibus libero ipsum atque nostrum?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed temporibus sunt, autem ipsam
                            quas ducimus provident inventore cum facilis quasi.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id itaque aut illum enim
                            exercitationem iusto molestiae ut ullam.
                            Fugit incidunt accusantium nostrum vero autem veniam similique omnis repellendus, aliquam
                            eligendi.</p>

                        <div class="house_top_btn">
                            <a href="#">ReadMore</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="barn-img">
                        <div class="year-box">Barn House</div>
                        <img src="assets/img/barn/barn-about.webp" class="img-fluid" alt="banner" loading="lazy"
                            decoding="async">
                    </div>
                </div>

            </div>

            <div class="row barn-start">
                <div class="col-lg-4 col-md-12 carmid">

                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8 col-md-12 barn-extra">
                    <div class="spac-barn-text">
                        <h2>text</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam laborum eum doloremque in
                            ab nemo esse. Necessitatibus placeat sint ad, minus blanditiis pariatur provident
                            perferendis recusandae eveniet repellat aperiam quas ipsum, facilis sed nemo totam atque
                            quasi porro facere soluta.</p>

                    </div>

                </div>

            </div>

            <div class="row barn-start">
                <div
                    class="col-lg-8 col-md-12 col-md-12 barn-extra order-md-2 order-sm-2 order-lg-1 order-xl-1 order-xxl-1 order-2">
                    <div class="spac-barn-text">
                        <h2>text</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam laborum eum doloremque in
                            ab nemo esse. Necessitatibus placeat sint ad, minus blanditiis pariatur provident
                            perferendis recusandae eveniet repellat aperiam quas ipsum, facilis sed nemo totam atque
                            quasi porro facere soluta.</p>

                    </div>

                </div>
                <div
                    class="col-lg-4 col-md-12 col-md-12 carmid order-md-1 order-sm-1 order-lg-2 order-xl-2 order-xxl-2 order-1">

                    <div id="carouselExampleIndicators2" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


            <div class="row barn-start">
                <div class="col-lg-4 carmid">

                    <div id="carouselExampleIndicators3" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8 barn-extra">
                    <div class="spac-barn-text">
                        <h2>text</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam laborum eum doloremque in
                            ab nemo esse. Necessitatibus placeat sint ad, minus blanditiis pariatur provident
                            perferendis recusandae eveniet repellat aperiam quas ipsum, facilis sed nemo totam atque
                            quasi porro facere soluta.</p>

                    </div>

                </div>

            </div>


            <div class="row barn-start ">
                <div class="col-lg-8 barn-extra order-md-2 order-sm-2 order-lg-1 order-xl-1 order-xxl-1 order-2">
                    <div class="spac-barn-text">
                        <h2>text</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam laborum eum doloremque in
                            ab nemo esse. Necessitatibus placeat sint ad, minus blanditiis pariatur provident
                            perferendis recusandae eveniet repellat aperiam quas ipsum, facilis sed nemo totam atque
                            quasi porro facere soluta.</p>
                    </div>
                </div>


                <div class="col-lg-4 carmid order-md-1 order-sm-1 order-lg-2 order-xl-2 order-xxl-2 order-1">


                    <div id="carouselExampleIndicators4" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="spec-barn">
                                    <img src="assets/img/properties/dinning-area.webp" class="img-fluid" alt="banner"
                                        loading="lazy" decoding="async">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>
    </section> -->

    <section class="barn_main">
        <div class="container">
            <div class="barn_head">
                <h3>The Barn</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis omnis.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="barn_card_img">
                        <a href="assets/img/accommodations/garage_lnterior3.jpg" data-fancybox="gallery"
                            data-caption="The Barn">
                            <img src="assets/img/accommodations/garage_lnterior3.jpg" class="img-fluid" title="The Barn"
                                alt="barn" loading="lazy" decoding="async">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="barn_card_img">
                        <a href="assets/img/accommodations/garage_exterior2.jpg" data-fancybox="gallery"
                            data-caption="The Barn">
                            <img src="assets/img/accommodations/garage_exterior2.jpg" class="img-fluid" title="The Barn"
                                alt="barn" loading="lazy" decoding="async">
                        </a>
                    </div>
                </div>
            </div>

            <div class="barn_text_sec">
                <h3>Event Pricing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, eligendi! Modi
                    cumque minima consectetur nemo? Voluptas sunt eaque, dolorum officiis explicabo
                    tenetur deserunt ab quasi, vero quos ipsum necessitatibus cum?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, eligendi! Modi
                    cumque minima consectetur nemo? Voluptas sunt eaque, dolorum officiis explicabo
                    tenetur deserunt ab quasi, vero quos ipsum necessitatibus cum?</p>
            </div>

        </div>
    </section>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <script>
    $('[data-fancybox="gallery"]').fancybox({
        buttons: [
            "slideShow",
            "thumbs",
            "zoom",
            "fullScreen",
            "share",
            "close"
        ],
        loop: false,
        protect: true
    });
    </script>


