

        <section class="photo_sec">
            <div class="container">
                <h1>Photo Tour</h1>
                <!-- Slick Slider wrapper -->
                <div class="slider" style="display: inline-flex;">
                    <div class="card">
                        <div class="photo-img">
                            <a href="#living">
                                <img src="assets/img/accommodations/living_room2.jpg" title="Living Room"
                                    alt="Living Room-img" class="img-fluid kitchen-bor" loading="lazy" decoding="async">
                                <p>Living room</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#kitchan">
                                <img src="assets/img/accommodations/kitchen2.jpg" title="Kitchen" alt="Kitchen-img"
                                    class="img-fluid" loading="lazy" decoding="async">
                                <p>Full kitchen</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#dining">
                                <img src="assets/img/accommodations/dining_room.jpg" title="Dining Area"
                                    alt="Dining Area-img" class="img-fluid" loading="lazy" decoding="async">
                                <p>Dining area</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#Exterior">
                                <img src="assets/img/accommodations/exterior_front2.jpg" title="Exterior View"
                                    alt="Exterior View" class="img-fluid" loading="lazy" decoding="async">
                                <p>Exterior</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#bedroom">
                                <img src="assets/img/accommodations/floor_primary_bedroom2.jpg" title="Bedroom "
                                    alt="Bedroom-img" class="img-fluid" loading="lazy" decoding="async">
                                <p>Bedroom</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#bathrooms">
                                <img src="assets/img/accommodations/primary_bathroom3.jpg" title="Full bathrooms"
                                    alt="Bathroom-img" class="img-fluid" loading="lazy" decoding="async">
                                <p>Full bathroom</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#backgarden">
                                <img src="assets/img/accommodations/Backyard4.jpg" title="Back Garden"
                                    alt="Back Garden-img" class="img-fluid" loading="lazy" decoding="async">
                                <p>Back garden</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#sunroom">
                                <img src="assets/img/accommodations/sun_room2.jpg" title="Sun Room" alt="Sun Room-img"
                                    class="img-fluid" loading="lazy" decoding="async">
                                <p>Sun Room</p>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="photo-img">
                            <a href="#garage">
                                <img src="assets/img/accommodations/garage_exterior2.jpg" title="Garage Exterior"
                                    alt="Garage Exterior" class="img-fluid" loading="lazy" decoding="async">
                                <p>Garage</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="inside-room">
            <div class="container">
                <div class="row" id="living">
                    <div class="col-lg-4 ">
                        <div class="living-text">
                            <h4>Living room</h4>
                            <ul>
                                <li>Air conditioning</li>
                                <li>Board Games</li>
                                <li>Books and reading material</li>
                                <li>Children’s books and toys</li>
                                <li>HeatingTV</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/living_room.jpg" data-fancybox="gallery"
                                        data-caption="Living room">
                                        <img src="assets/img/accommodations/living_room.jpg" title="Living room"
                                            alt="Living room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/living_room.jpg" data-fancybox="gallery"
                                        data-caption="Living room">
                                        <img src="assets/img/accommodations/living_room2.jpg" title="Living room"
                                            alt="Living room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" id="kitchan">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Full kitchen</h4>
                            <ul>
                                <li>Coffee maker</li>
                                <li>Cooking basics</li>
                                <li>Dishes and cutlery</li>
                                <li>Dishwashe</li>
                                <li>FreezerMicrowave</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="living living_frt">
                                    <a href="assets/img/accommodations/kitchen1.jpg" data-fancybox="gallery"
                                        data-caption="Kitchan room">
                                        <img src="assets/img/accommodations/kitchen1.jpg" title="Kitchan" alt="Kitchan"
                                            class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_scnd">
                                    <a href="assets/img/accommodations/kitchen2.jpg" data-fancybox="gallery"
                                        data-caption="Kitchan room">
                                        <img src="assets/img/accommodations/kitchen2.jpg" title="Kitchan" alt="Kitchan"
                                            class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/kitchen3.jpg" data-fancybox="gallery"
                                        data-caption="Kitchan room">
                                        <img src="assets/img/accommodations/kitchen3.jpg" title="Kitchan" alt="Kitchan"
                                            class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/kitchen4.jpg" data-fancybox="gallery"
                                        data-caption="Kitchan room">
                                        <img src="assets/img/accommodations/kitchen4.jpg" title="Kitchan" alt="Kitchan"
                                            class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/kitchen5.jpg" data-fancybox="gallery"
                                        data-caption="Kitchan room">
                                        <img src="assets/img/accommodations/kitchen5.jpg" title="Kitchan" alt="Kitchan"
                                            class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="dining">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Dining area</h4>
                            <ul>
                                <li>Air conditioning</li>
                                <li>Dining table</li>
                                <li>Heating</li>
                                <li>Wine glasses</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/dining_room.jpg" data-fancybox="gallery"
                                        data-caption="Dining room">
                                        <img src="assets/img/accommodations/dining_room.jpg" title="Dining room"
                                            alt="Dining room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/dining_room2.jpg" data-fancybox="gallery"
                                        data-caption="Dining room">
                                        <img src="assets/img/accommodations/dining_room2.jpg" title="Dining room"
                                            alt="Dining room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" id="Exterior">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Exterior</h4>
                            <ul>
                                <li>Garden</li>
                                <li>Barbecue utensils</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/exterior_front.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/exterior_front2.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front2.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/exterior_front3.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front3.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="living">
                                    <a href="assets/img/accommodations/exterior_front4.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front4.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/exterior_front.jpg5" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front5.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/exterior_front6.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front6.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="living">
                                    <a href="assets/img/accommodations/exterior_front7.jpg" data-fancybox="gallery"
                                        data-caption="exterior">
                                        <img src="assets/img/accommodations/exterior_front7.jpg" title="exterior"
                                            alt="exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row" id="bedroom">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Bedroom</h4>
                            <ul>
                                <li>Queen bed</li>
                                <li>Clothes storag</li>
                                <li>Air conditioning</li>
                                <li>Bed linen</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="living living_frt">
                                    <a href="assets/img/accommodations/floor_primary_bedroom.jpg"
                                        data-fancybox="gallery" data-caption="Bedroom room">
                                        <img src="assets/img/accommodations/floor_primary_bedroom.jpg" title="Bedroom"
                                            alt="Bedroom" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_scnd">
                                    <a href="assets/img/accommodations/floor_primary_bedroom2.jpg"
                                        data-fancybox="gallery" data-caption="Bedroom room">
                                        <img src="assets/img/accommodations/floor_primary_bedroom2.jpg" title="Bedroom"
                                            alt="Bedroom" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_trd">
                                    <a href="assets/img/accommodations/floor_primary_bedroom3.jpg"
                                        data-fancybox="gallery" data-caption="Bedroom room">
                                        <img src="assets/img/accommodations/floor_primary_bedroom3.jpg" title="Bedroom"
                                            alt="Bedroom" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_forth">
                                    <a href="assets/img/accommodations/floor_primary_bedroom4.jpg"
                                        data-fancybox="gallery" data-caption="Bedroom room">
                                        <img src="assets/img/accommodations/floor_primary_bedroom4.jpg" title="Bedroom"
                                            alt="Bedroom" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="bathoroom">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Full bathroom</h4>
                            <ul>
                                <li>Air conditioning</li>
                                <li>Body soap</li>
                                <li>Conditioner</li>
                                <li>Hair dryer</li>
                                <li>Heating</li>
                                <li>Hot water</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-md-5">
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/primary_bathroom.jpg" data-fancybox="gallery"
                                        data-caption="primary bathroom">
                                        <img src="assets/img/accommodations/primary_bathroom.jpg"
                                            title="primary bathroom" alt="primary bathroom" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/primary_bathroom2.jpg" data-fancybox="gallery"
                                        data-caption="primary bathroom">
                                        <img src="assets/img/accommodations/primary_bathroom2.jpg"
                                            title="primary bathroom" alt="primary bathroom" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_fith">
                                    <a href="assets/img/accommodations/primary_bathroom3.jpg" data-fancybox="gallery"
                                        data-caption="primary bathroom">
                                        <img src="assets/img/accommodations/primary_bathroom3.jpg"
                                            title="primary bathroom" alt="primary bathroom" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="living living_frt">
                                    <a href="assets/img/accommodations/lower_level_bathroom.jpg" data-fancybox="gallery"
                                        data-caption="lower level bathroom">
                                        <img src="assets/img/accommodations/lower_level_bathroom.jpg"
                                            title="lower level bathroom" alt="lower level bathroom" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                                <div class="living living_scnd">
                                    <a href="assets/img/accommodations/lower_level_bathroom2.jpg"
                                        data-fancybox="gallery" data-caption="lower level bathroom">
                                        <img src="assets/img/accommodations/lower_level_bathroom2.jpg"
                                            title="lower level bathroom" alt="lower level bathroom" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row" id="backgarden">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Back garden</h4>
                            <ul>
                                <li>BBQ grill</li>
                                <li>Firepit</li>
                                <li>Outdoor furniture</li>
                                <li>Outdoor playground</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/Backyard.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/Backyard2.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard2.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/Backyard3.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard3.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="living">
                                    <a href="assets/img/accommodations/Backyard4.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard4.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/Backyard.jpg5" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard5.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/Backyard6.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard6.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="living">
                                    <a href="assets/img/accommodations/Backyard7.jpg" data-fancybox="gallery"
                                        data-caption="Back garden">
                                        <img src="assets/img/accommodations/Backyard7.jpg" title="Backyard"
                                            alt="Backyard" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row" id="sunroom">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Sun Room</h4>
                            <!-- <ul>
                                <li></li>
                                <li>Cultive Effect</li>

                            </ul> -->

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/sun_room.jpg" data-fancybox="gallery"
                                        data-caption="Sun room">
                                        <img src="assets/img/accommodations/sun_room.jpg" title="Sun room"
                                            alt="Sun room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="living">
                                    <a href="assets/img/accommodations/sun_room2.jpg" data-fancybox="gallery"
                                        data-caption="Sun room">
                                        <img src="assets/img/accommodations/sun_room2.jpg" title="Sun room"
                                            alt="Sun room" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" id="garage">
                    <div class="col-lg-4">
                        <div class="living-text">
                            <h4>Garage Exterior / Garage Interior</h4>
                            <!-- <ul>
                                <li>BBQ grill</li>
                                <li>Firepit</li>
                                <li>Outdoor furniture</li>
                                <li>Outdoor playground</li>

                            </ul> -->

                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_exterior.jpg" data-fancybox="gallery"
                                        data-caption="garage exterior">
                                        <img src="assets/img/accommodations/garage_exterior.jpg" title="garage exterior"
                                            alt="garage exterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_exterior2.jpg" data-fancybox="gallery"
                                        data-caption="garage exterior">
                                        <img src="assets/img/accommodations/garage_exterior2.jpg"
                                            title="garage exterior" alt="garage exterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_lnterior.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior.jpg" title="garage lnterior"
                                            alt="garage lnterior" class="img-fluid" loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="living">
                                    <a href="assets/img/accommodations/garage_lnterior2.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior2.jpg"
                                            title="garage lnterior" alt="garage lnterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_lnterior3.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior3.jpg"
                                            title="garage lnterior" alt="garage lnterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_lnterior4.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior4.jpg"
                                            title="garage lnterior" alt="garage lnterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_lnterior5.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior5.jpg"
                                            title="garage lnterior" alt="garage lnterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="living living_sxth">
                                    <a href="assets/img/accommodations/garage_lnterior6.jpg" data-fancybox="gallery"
                                        data-caption="garage lnterior">
                                        <img src="assets/img/accommodations/garage_lnterior6.jpg"
                                            title="garage lnterior" alt="garage lnterior" class="img-fluid"
                                            loading="lazy" decoding="async">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="container">
                <div class="plc_sm_head">
                    <h4>this place offers</h4>
                </div>
                <div class="row frst_row">

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Scenic views</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Garden_view.jpg" alt="icons">
                                <p>Courtyard view</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Garden_view.jpg" alt="icons">
                                <p>Garden view</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="plcs_card_sec">
                            <h5>Bathroom</h5>
                            <div class="row side_st">
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Hair_dryer.jpg" alt="icons">
                                    <p>Hair dryer</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Shower_gel.jpg" alt="icons">
                                    <p>Shampoo</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Shower_gel.jpg" alt="icons">
                                    <p>Conditioner</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Body_soap.jpg" alt="icons">
                                    <p>Body soap</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Hot_water.jpg" alt="icons">
                                    <p>Hot water</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Shower_gel.jpg" alt="icons">
                                    <p>Shower gel</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="plcs_card_sec">
                            <h5>Bedroom and laundry</h5>

                            <div class="row side_st">
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/washing_machine.jpg" alt="icons">
                                    <p>Washing machine</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Dryer.jpg" alt="icons">
                                    <p>Dryer</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/hangers.jpg" alt="icons">
                                    <p>Hangers</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Bed_linen.jpg" alt="icons">
                                    <p>Bed linen</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Extra_pillows_and_blankets.jpg" alt="icons">
                                    <p>Extra pillows and blankets</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Iron.jpg" alt="icons">
                                    <p>Iron</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/clothes_storage.jpg" alt="icons">
                                    <p>Clothes storage</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Entertainment</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/tv.jpg" alt="icons">
                                <p>TV</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Books.jpg" alt="icons">
                                <p>Books and reading material</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Family</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/horse_toy.jpg" alt="icons">
                                <p>Children’s books and toys for ages 0–2 years old, 2–5 years old and 5–10 years old
                                </p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/board_games.jpg" alt="icons">
                                <p>Board games</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/outdoor_playground.jpg" alt="icons">
                                <p>Outdoor playground</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Heating and cooling</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Air_conditioning.jpg" alt="icons">
                                <p>Air conditioning</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Central_heating.jpg" alt="icons">
                                <p>Central heating</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Home safety</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/security-cameras.jpg" alt="icons">
                                <p>Exterior security cameras on property</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Smoke_alarm.jpg" alt="icons">
                                <p>Smoke alarm</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Fire_extinguisher.jpg" alt="icons">
                                <p>Fire extinguisher</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/First_aid_kit.jpg" alt="icons">
                                <p>First aid kit</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="plcs_card_sec">
                            <h5>Kitchen and dining</h5>

                            <div class="row side_st">
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Kitchen.jpg" alt="icons">
                                    <p>Kitchen</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Fridge.jpg" alt="icons">
                                    <p>Fridge</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Microwave.jpg" alt="icons">
                                    <p>Microwave</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Kitchen.jpg" alt="icons">
                                    <p>Cooking basics</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Dishes_and_cutlery.jpg" alt="icons">
                                    <p>Dishes and cutlery</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Fridge.jpg" alt="icons">
                                    <p>Freezer</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Dishwasher.jpg" alt="icons">
                                    <p>Dishwasher</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Cooker.jpg" alt="icons">
                                    <p>Cooker</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Oven.jpg" alt="icons">
                                    <p>Oven</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Coffee maker.jpg" alt="icons">
                                    <p>Coffee maker</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Wine glasses.jpg" alt="icons">
                                    <p>Wine glasses</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Toaster.jpg" alt="icons">
                                    <p>Toaster</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Waste_compactor.jpg" alt="icons">
                                    <p>Waste compactor</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Barbecue_utensils.jpg" alt="icons">
                                    <p>Barbecue utensils</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Dining_table.jpg" alt="icons">
                                    <p>Dining table</p>
                                </div>

                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Coffee maker.jpg" alt="icons">
                                    <p>Coffee</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="plcs_card_sec">
                            <h5>Internet and office</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Wifi.jpg" alt="icons">
                                <p>Wifi</p>
                            </div>

                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Dedicated_workspace.jpg" alt="icons">
                                <p>Dedicated workspace</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="plcs_card_sec">
                            <h5>Location features</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Private_entrance.jpg" alt="icons">
                                <p>Private entrance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="plcs_card_sec">
                            <h5>Outdoor</h5>
                            <div class="row side_st">
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Garden_view.jpg" alt="icons">
                                    <p>Private back garden</p>
                                </div>
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Firepit.jpg" alt="icons">
                                    <p>Firepit</p>
                                </div>
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Dining_table.jpg" alt="icons">
                                    <p>Outdoor furniture</p>
                                </div>
                                <div class="plcs_spt_sec">
                                    <img src="assets/images/icons/Barbecue_utensils.jpg" alt="icons">
                                    <p>BBQ grill</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Parking and facilities</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Free_parking_on_premises.jpg" alt="icons">
                                <p>Free parking on premises</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Services</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Pets.jpg" alt="icons">
                                <p>Pets allowed</p>
                            </div>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Self_check-in.jpg" alt="icons">
                                <p>Self check-in</p>
                            </div>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Lockbox.jpg" alt="icons">
                                <p>Lockbox</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="plcs_card_sec">
                            <h5>Not included</h5>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/Essentials.jpg" alt="icons">
                                <p>Essentials</p>
                            </div>
                            <div class="plcs_spt_sec">
                                <img src="assets/images/icons/carbon_monoxide_alarm.jpg" alt="icons">
                                <p>alarmCarbon monoxide alarm</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <?php include 'footer2.php' ?>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

        <script>
        $(document).ready(function() {
            $('[data-fancybox="gallery"]').fancybox({
                buttons: [
                    "slideShow",
                    "thumbs",
                    "zoom",
                    "fullScreen",
                    "share",
                    "close"
                ],
                loop: false,
                protect: true
            });
        });
        </script>


        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js">
        </script>
        <script>
        $(document).ready(function() {
            $('.slider').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                dots: false,
                responsive: [{
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
        </script>
