.inner-banner {
  position: relative;
  overflow: hidden;
}

.inner-banner .container {
  position: absolute;
  top: 50%;
  left: 40%;
}

.inner-banner h1 {
  font-size: 45px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 0px;
}

.breadcrumb span.current {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumb a,
.breadcrumb .fa {
  color: #000000;
}

.breadcrumb a:hover {
  color: #859B8F;
}

.accommodation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.acc-text h3 {
  margin-bottom: 12px;
  line-height: 50px;
  font-size: 28px;
}

.acc-text p {
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 20px;
}

.relax {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.relax img {
  filter: brightness(1) saturate(28%) sepia(26) hue-rotate(180deg) contrast(4.0);
  object-fit: contain;
}

.relax-text h6 {
  font-weight: bold;
  color: #9cbe22;
  margin-top: 5px;
  line-height: 28px;
  font-size: 20px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #7267c824;
}

.number h2 {
  color: #201854;
  text-align: center;
  font-size: 40px;
}

.number-img {
  text-align: center;
  margin-bottom: 40px;
}

.project {
  margin-top: 5px;
  padding: 43px 10px;
  position: relative;
  border: 30px solid #7267c896;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.project:hover img {
  filter: brightness(1) saturate(28%) sepia(26) hue-rotate(180deg) contrast(4.0);
}

.project:hover h6 {
  color: #1e1753;
}

.project:hover p {
  font-weight: bold;
  color: #1e1753;
}

.project-img {
  text-align: center;
  width: 100%;
  clear: both;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.project-text h6 {
  font-size: 60px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.project-text p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.project:hover {
  border-color: #1e1753;
  transition: all 0.3s ease-in-out;
}

.feast {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;

}


.slider-container {
  width: 70%;
  margin: auto;
  padding: 50px 0;
}

.slider .slick-slide {
  margin: 0 15px;
}

.slider-item {
  position: relative;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.slider-item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 1%;
  right: 1%;
  background: rgba(255, 255, 255, 0.8);
  padding: 12px 6px;
  border-radius: 8px;
  font-size: 15px;

}

.caption h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: start;
}

.caption p {
  text-align: start !important;
}


.slick-prev,
.slick-next {
  z-index: 10;

}

.slick-prev,
.slick-next {
  background-color: white !important;
  /* Background color */
  color: white !important;
  /* Arrow color */

  border-radius: 50%;
  /* Circular buttons */
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Make sure it's above other elements */
}


.slick-prev::before,
.slick-next::before {
  color: #9E9E9E !important;
  font-size: 40px;
  opacity: 1 !important;
}

.slick-prev:hover :before {
  color: #9cbe22;
}



/* Positioning */
.slick-prev {
  left: 47%;
}

.slick-next {
  right: 48%;
}

.slick-list {
  margin: 0 -15px;
}

.feast h2 {
  margin-top: 100px;
  font-size: 34px;
  text-align: center;
  text-transform: none;
}

.feast p {
  font-size: 18px;
  text-align: center;
  text-transform: none;
}

.resort {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.resort .row {
  row-gap: 25px;

}

.resort h2 {
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
}

.resort {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.resort h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1e1753;
}


.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}

/* Text overlay */
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.overlay-text a {
  color: #fff;
  text-decoration: none;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

.colonia {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 0px;
}

.colonia h5 {
  font-weight: bold;
  color: #201854;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.colonia p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: justify;
}

.colonia h6 {
  font-size: 18px;
  font-weight: bold;
}

.service {
  position: relative;
  display: flex;
  align-items: center;

  column-gap: 20px;
  padding: 0px 0px 0px 0px !important;
  border-bottom: 1px solid #ccc;
  transition: all 0.3slinear;


}

.service i {
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
  color: #9cbe22;

}

.service p {
  margin-top: 18px;
  font-size: 16px;
}

.service:after {
  content: "";
  transition: all 0.3s linear;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -1px;
  background-color: #9cbe22;
  display: inline-block;

  position: absolute;
}

.service:hover:after {
  width: 100%;
}

@media(max-width:1366px) {
  .photo-img img {
    height: 155px;
  }
}

@media(max-width:1152px) {
  .photo-img img {
    width: 160px;
  }
}

@media (max-width :992px) {

  .photo-img img {
    margin: auto;

  }

}

@media(max-width:991px) {
  .photo-img img {
    height: 145px;
  }
}

@media(max-width:767px) {
  .photo-img img {
    height: 100px;
  }
}

@media (max-width :540px) {

  .photo-img img {
    margin: auto;
    height: 300px;
    width: 300px;

  }

  .slick-prev {
    left: 0px !important;
  }

  .slick-next {
    right: 0px !important;
  }

  .slick-slide img {
    display: block;
  }

  .slider .slick-slide {
    margin: 0 0px;
  }

}

@media (min-width: 492px) {
  .photo-img img {
    margin: auto;
  }

}

@media (max-width: 385px) {
  .slider .slick-slide {
    padding-right: 18px;
  }
}



@media (max-width: 360px) {
  .photo-img img {
    margin: auto;
    height: 258px;
    width: 259px;
  }
}
